/* .canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  } */

#timeline{
  background-image: url("https://images.unsplash.com/photo-1580501170888-80668882ca0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


#mapsection {


  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F6c%2Fa7%2Fd5%2F6ca7d5a3a62f0e9dabd86c63dbb3e977.jpg&f=1&nofb=1");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#mapOuterBox{
  height: 100%;
  display: flex;
  justify-content: center;
}


#mapid {
  /* clear: both; */
  /* height: 100%; */
  /* display: flex;
  justify-content: flex-end; */
  /* margin-left: 35%; */
  /* height: 100%;
  width: 100vw; */
  height: 60vh;
  width: 60vw;
  /* margin-top: 5%; */
  /* margin-right: 15%;
  margin-bottom: 5%; */
  /* margin-left: 15%; */
} 

@media (min-width: 576px) {

  #mapid {
    display: flex;
    justify-content: center;
    max-width: 540px;
  }
}
@media (min-width: 768px) {

  #mapid {
    display: flex;
    justify-content: center;
    max-width: 720px;
  }
}
@media (min-width: 992px) {

  #mapid {
    display: flex;
    justify-content: center;
    max-width: 960px;
  }
}
@media (min-width: 1200px) {

  #mapid {
    display: flex;
    justify-content: center;
    max-width: 1140px;
  }
}



.info {
    
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: left;
}


.info h4 {
    margin: 0 0 5px;
    color: #777;
}


.legend {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    
    width: 62px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* .leaflet-control-layers-toggle {
  height: 40px;
} */


/* #hBarIndicator_Selector, #lineCtxIndicator_Selector{
  height: 100%;
  width: 90%;
  margin-bottom: 3%;
} */

@media (min-width: 576px) {

  #hBarIndicator_Selector, #lineCtxIndicator_Selector {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    /* margin-right: 25%; */
    margin-bottom: 3%;
    max-width: 540px;
  }
}
@media (min-width: 768px) {

  #hBarIndicator_Selector, #lineCtxIndicator_Selector {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    margin-bottom: 3%;
    max-width: 720px;
  }
}
@media (min-width: 992px) {

  #hBarIndicator_Selector, #lineCtxIndicator_Selector {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    margin-bottom: 3%;
    max-width: 960px;
  }
}
@media (min-width: 1200px) {

  #hBarIndicator_Selector, #lineCtxIndicator_Selector {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    margin-bottom: 3%;
    max-width: 1140px;
  }
}
  .vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  }

  #canvas1{
    width: 50%;
    height: 50%;
  }


  #chart1_Hbar {
		-moz-user-select: none;
		-webkit-user-select: none;
    -ms-user-select: none;
    background-color: white;

  }
  
 #chart2_line {

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

   background-color: #212121;
   font-size: medium;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: 'white';
 }

 .row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#portfolio{
  background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 #about {

  background-color: #fafafa; 
  /* background-color: #1c2331 ; */
  /* background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimg04.deviantart.net%2Ff521%2Fi%2F2013%2F243%2Fb%2F5%2Fjourney_to_the_west_by_artoftu-d6kf2uy.jpg&f=1&nofb=1"); */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/* #footer_custom {
  background-color: #212529;
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */

