.canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  #mapsection{
    height: 100%;
    
  }

  #mapid{
    /* height: 100%; */
    display: flex;
    justify-content: center;

    height: 50em;
    width: 60em;
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 5%;
    margin-left: 18%;
  }







/*  */
  .vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  }

  #canvas1{
    width: 50%;
    height: 50%;
  }